@model groupCapstoneMusic.Models.Message

@*@{
    Layout = null;
}*@

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Message</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.From)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.From)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Subject)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Subject)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MessageToPost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MessageToPost)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DatePosted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DatePosted)
            </dd>

        </dl>
    </div>
    <p>
        <a class="btn btn-primary" style="color:darkred" @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) |
        <a class="btn btn-primary" style="color:yellow" @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
