@model groupCapstoneMusic.Models.Customer

@{
    ViewBag.Title = "Index";
}

<h2>My Profile</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MinBudget)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxBudget)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Rating) / AM commented out becuase we changed to musician/customerrating
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.AverageCustomerRating)
        </th>
        <th></th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>

        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Bio)
        </td>

        <td>
            @Html.DisplayFor(model => model.StreetAddress)
        </td>

        <td>
            @Html.DisplayFor(model => model.City)
        </td>

        <td>
            @Html.DisplayFor(model => model.State)
        </td>

        <td>
            @Html.DisplayFor(model => model.ZipCode)
        </td>

        <td>
            @Html.DisplayFor(model => model.MinBudget)
        </td>
        <td>
            @Html.DisplayFor(model => model.MaxBudget)
        </td>

    </tr>
        @*<td>
            @Html.DisplayFor(model => model.Rating) / AM commented out becuase we changed to musician/customerrating
        </td>*@
    

    @*<tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) |

        <td>
            @Html.DisplayFor(model => model.AverageCustomerRating)
        </td>
    </tr>*@


    <tr>
       <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CustomerId }) | @*this is causing a nullreference no object instance exception. I believe it has to do with the model.customerId*@
            @Html.ActionLink("Details", "Details", new { id = Model.CustomerId }) | @*commented and reviewed by Adam M*@
            @Html.ActionLink("Delete", "Delete", new { id = Model.CustomerId }) 
          
       </td>
    </tr>


</table>

