@model IEnumerable<groupCapstoneMusic.Models.Review>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FeedBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePosted)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FeedBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }
    
    </table>
    @if (User.IsInRole("Customer"))
    {
        
        <p>
            @Html.ActionLink("Back to Profile", "Details", "Musician", new { id = ViewBag.musicianId}, null)
        </p>
    }
     @if (User.IsInRole("Musician"))
     {
         <p>
             @Html.ActionLink("Back to Profile", "CustomerProfileForMusician", "Musician", new { id = ViewBag.reviedId}, null)
         </p>
     }
</body>
</html>
