<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
<<<<<<< HEAD
                @Html.ActionLink("DontKnow", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
=======
                @Html.ActionLink("TalentSearch", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
>>>>>>> 8a6589ae625994dae68d8c7bbe24232a58c45698
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Musician"))
                {
                <ul class="nav navbar-nav">
<<<<<<< HEAD
                    <li>
                        @if (User.IsInRole("Musician") == true)
                        {
                            @Html.ActionLink("Profile", "Index", "Musician")
                        }
                        else if (User.IsInRole("Customer") == true)
                        {
                            @Html.ActionLink("Profile", "Index", "Customer")
                        }
                        else
                        {
                            @Html.ActionLink("Home", "Index", "Home")
                        }
                    </li>
                    <li>
                        @if (User.IsInRole("Musician") == true)
                        {
                            @Html.ActionLink("Customers", "Index", "Employee")
                        }
                        else if (User.IsInRole("Customer") == true)
                        {
                            @Html.ActionLink("Concerts", "Index", "Concert")
                        }
                        else
                        {
                            @Html.ActionLink("About", "About", "Home")
                        }
                    </li>

                    <li>
                        @if (User.IsInRole("Musician") == true)
                        {
                            @Html.ActionLink("Inbox", "Index", "IMessage")
                        }
                        else if (User.IsInRole("Customer") == true)
                        {
                            @Html.ActionLink("Inbox", "Index", "IMessage")
                        }
                        else
                        {
                            @Html.ActionLink("Contact", "Contact", "Home")
                        }
                    </li>
=======
                    <li>@Html.ActionLink("Home", "Index", "Musician")</li>
                    <li>@Html.ActionLink("Profile", "Details", "Musician")</li>
                    <li>@Html.ActionLink("Inbox", "Index", "IMessage")</li>

>>>>>>> 8a6589ae625994dae68d8c7bbe24232a58c45698
                </ul>
                }
                @if (User.IsInRole("Customer"))
                {
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Profile", "Index", "Customer")</li>
                @*<li>@Html.ActionLink("Profile", "Details", "Customer")</li>*@
                <li>@Html.ActionLink("Create Event", "CreateConcert", "Customer")</li>
                <li>@Html.ActionLink("Inbox", "Index", "IMessage")</li>

            </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
