@model groupCapstoneMusic.Models.Review

<h2>Please Rate Your Musician!</h2>

<button class="button1" type="button" onclick="location.href='@Url.Action("mRate", "StarRating", new { rating = 1, id = Model.ApplicationId})'"></button>
<br />
<button class="button2" type="button" onclick="location.href='@Url.Action("mRate", "StarRating", new { rating = 2, id = Model.ApplicationId})'"></button>
<br />
<button class="button3" type="button" onclick="location.href='@Url.Action("mRate", "StarRating", new { rating = 3, id = Model.ApplicationId})'"></button>
<br />
<button class="button4" type="button" onclick="location.href='@Url.Action("mRate", "StarRating", new { rating = 4, id = Model.ApplicationId})'"></button>
<br />
<button class="button5" type="button" onclick="location.href='@Url.Action("mRate", "StarRating", new { rating = 5, id = Model.ApplicationId})'"></button>

