@model groupCapstoneMusic.Models.FilterViewModel

@{
    ViewBag.Title = "FilteredSearch";
}

<h2>Find your perfect Musician:</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal-container">
        <hr />
        <div class="block">
            <h4>Search by Genre:</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.SelectedGenre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedGenre, Model.ListOfGenres)
                    @Html.ValidationMessageFor(model => model.SelectedGenre, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="block">
            <h4>Find Musicians based on Budget:</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ConcertRate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ConcertRate, Model.ListOfBudgetRanges)
                    @Html.ValidationMessageFor(model => model.ConcertRate, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
        <div class="block">
            <h4>Search by your Concert's Location:</h4>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.LocationAnswer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.LocationAnswer, Model.SearchByLocation)
                    @Html.ValidationMessageFor(model => model.LocationAnswer, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
}
<br />

<p>
    @Html.ActionLink("Refresh Search", "FilteredSearch", "Musician")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].BandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].SelectedGenre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].SetRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].DatesAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.musicians[0].StreetAddress)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.musicians[0].AverageMusicianRating)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.musicians)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.BandName)
            </td>

            <td>
                @Html.DisplayFor(model => item.Email)
            </td>
            <td>
                @Html.DisplayFor(model => item.City)
            </td>

            <td>
                @Html.DisplayFor(model => item.State)
            </td>

            <td>
                @Html.DisplayFor(model => item.Zip)
            </td>

            <td>
                @Html.DisplayFor(model => item.Bio)
            </td>

            <td>
                @Html.DisplayFor(model => item.SelectedGenre)
            </td>

            <td>
                @Html.DisplayFor(model => item.SetRate)
            </td>

            <td>
                @Html.DisplayFor(model => item.DatesAvailable)
            </td>

            <td>
                @Html.DisplayFor(model => item.StreetAddress)
            </td>
            <td>
                @*@Html.DisplayFor(model => item.AverageMusicianRating)*@
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Message", "Create", "IMessage", new { id = item.ApplicationId }, null)
            </td>
        </tr>
    }

</table>
