@model groupCapstoneMusic.Models.Musician

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BandName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatesAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(model => model.FirstName)
        </td>

        <td>
            @Html.DisplayFor(model => model.LastName)
        </td>

        <td>
            @Html.DisplayFor(model => model.BandName)
        </td>

        <td>
            @Html.DisplayFor(model => model.Email)
        </td>

        <td>
            @Html.DisplayFor(model => model.City)
        </td>

        <td>
            @Html.DisplayFor(model => model.State)
        </td>

        <td>
            @Html.DisplayFor(model => model.Zip)
        </td>

        <td>
            @Html.DisplayFor(model => model.Bio)
        </td>

        <td>
            @Html.DisplayFor(model => model.Genre)
        </td>

        <td>
            @Html.DisplayFor(model => model.Rating)
        </td>

        <td>
            @Html.DisplayFor(model => model.SetRate)
        </td>

        <td>
            @Html.DisplayFor(model => model.DatesAvailable)
        </td>

        <td>
            @Html.DisplayFor(model => model.StreetAddress)
        </td>

    </tr>
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Details", "Details", new { id = Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.ID })

        </td>
    </tr>


</table>
