@model groupCapstoneMusic.Models.Musician

@{
    ViewBag.Title = "Index";
}

<h2>Profile</h2>

<img src="@Model.ImageURL" alt="@Model.ImageURL" height="100">
<br />
<br />

<table class="table">
    <tr>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.BandName)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.SelectedGenre)
        </th>

        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.SetRate)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.DatesAvailable)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </th>
        <th class="active" style="border:solid; border-color:dimgray;">
            @Html.DisplayNameFor(model => model.AverageMusicianRating)
        </th>
        <th></th>
    </tr>
    <tr>
        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.FirstName)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.LastName)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.BandName)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.Email)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.City)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.State)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.Zip)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.Bio)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.SelectedGenre)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.SetRate)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.DatesAvailable)
        </td>

        <td style="border:solid; border-color:dimgray;">
            @Html.DisplayFor(model => model.StreetAddress)
        </td>


        <td style="border:solid; border-color:dimgray;">

            @Html.DisplayFor(model => model.AverageMusicianRating)
        </td>
    </tr>
    <tr>
        <th><p><a class="btn btn-warning" @Html.ActionLink("Edit", "Edit", new { id = Model.ID })</a></p></th>
        <th><p><a class="btn btn-success" @Html.ActionLink("Details", "Details", new { id = Model.ID })</a></p></th>
        <th><p><a class="btn btn-danger" @Html.ActionLink("Delete", "Delete", new { id = Model.ID })</a></p></th>
    </tr>
</table>


<p align="center"><iframe width="420" height="345" src="@ViewBag.URL">
    </iframe></p> @*YoutubeVideo*@

